
mixin DebugObject(object)
	table
		each val, key in object
			tr
				td= key
				if typeof val == "object"
					td
						+DebugObject(val)
				else
					td= val

mixin DebugAnyProps(props)
	+DebugObject(props)

mixin DebugProps()
	h2 Props
	+DebugAnyProps(props)

mixin DebugSProps()
	h2 SProps
	+DebugAnyProps(s.props)

mixin DebugKProps()
	h2 KProps
	+DebugAnyProps(k.props)

mixin DebugTProps()
	h2 TProps
	+DebugAnyProps(t.props)


