
mixin MetaCharset()
	meta(charset='utf-8')

mixin MetaViewport()
	meta(name="viewport" content="width=device-width, initial-scale=1")

mixin MetaSEO()
	meta(name="description" itemprop="description" content=page.getDescription())

mixin BaseURL()
	if page.HasRelativeBase()
		base(href=page.getBase())
	else
		base(href=kuz.s.props.SITE_URL)

mixin Analytics()
	if kuz.s.codes.analytics != undefined
		| !{kuz.s.codes.analytics.getContent()}


