include ../../default/layouts/mixins
include mixins

doctype html
html(lang="en")
	head
		+MetaCharset()
		+MetaSEO()

		title= page.getTitle()
		+MetaViewport()

		+BaseURL()

		link(rel="stylesheet", href="x/dist/themes/resume/css/resume.css")

		+Analytics()

	body
		header
			+NavBar()
			div.header
				+PageImage()
				+PageTitle()
				+PageAuthor()
				+PageDescription()
				+PageGitHubSourceLink()

		article
			div
				block content

		- let quote = page.getProperty("quote").value;
		if quote
			footer.zero
				div
					p= blackadder[quote]

		footer.one
			+InformationSectionFooter()
			+SocialSectionFooter()

		footer.two
			+MadeWithCopyright()

		//script(src="x/dist/js/resume.js")


