include ../../kz_default/templates/mixins
include mixins

doctype html
html(lang="en")
	head
		+MetaCharset()
		+MetaSEO()

		title= page.Title()
		+MetaViewport()

		+BaseURL()

		link(rel="stylesheet", href="x/dist/themes/resume/css/resume.css")

		+Analytics()

	body
		header
			+NavBar()
			div.header
				+PageImage()
				+PageTitle()
				+PageAuthor()
				+PageDescription()
				+PageGitHubSourceLink()

		article
			div
				block content

		- let quote = page.GetProperty("quote").value;
		if quote
			footer.zero
				div
					p= blackadder[quote]

		footer.one
			+InformationSectionFooter()
			+SocialSectionFooter()

		footer.two
			div
				p &copy; Copyright 2020, Ankur Seth. Made with #[a(href="https://kaagazz.com/") Kaagazz]. Hosted on #[a(href="https://github.com/madhumeya/ankurseth.in") GitHub].

		//script(src="x/dist/js/resume.js")


